iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.carousel-slide.shown {
  filter: opacity(100%);
  z-index: 1;
  transition: filter 0.5s;
}

.carousel-slide.hidden {
  filter: opacity(0%);
  width: 0;
  height: 0;
  z-index: -1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.icon.selected {
  color: #e9946b;
}

.icon.selected:hover {
  filter:brightness(1)
}